<div class="object-container">
  <h2>Classes</h2>
  <button mat-raised-button color="primary" (click)="openAddDialog()">Add class</button>
  <ul *ngIf="classes">
    <li *ngFor="let class of classes">
      <h2 class="class-name">name | {{ class.class_id }}</h2>
      <span class="floor-number">floor number | {{ class.floor_number }} </span>
      <button mat-icon-button color="primary" aria-label="Example icon-button with a edit icon"
        (click)="openUpdateDialog()">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon-button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</div>
