<div class="object-container">
  <h2>Courses</h2>
  <button mat-raised-button color="primary" (click)="openAddDialog()">Add course</button>
  <ul *ngIf="courses">
    <li *ngFor="let course of courses">
      <h2 class="course-name">name | {{ course.name }}</h2>
      <span class="course-id">course id | {{ course.course_id }} </span>
      <span class="course-instructor">instructor | {{ course.instructor }} </span>
      <button mat-icon-button color="primary" aria-label="Example icon-button with a edit icon"
        (click)="openUpdateDialog()">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon-button with a delete icon">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>
</div>
