.object-container{
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  ul{
    list-style-type: none;
    li{
      padding: 10px;
      border: solid 2px rgb(99, 99, 99);
      border-radius: 15px;
      box-shadow: 0px 5px 20px 0;
      margin-top: 20px;
    }
  }
}
